{% extends 'base.html' %}

{% load static %}
{% block title %} | About Us {% endblock %}


{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">About Painkey</h1>
          <p class="lead">A Fun Django Project</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Painkey, Paint with Smokey</h2>
          <p class="lead">I might have discovered what framework I like the most.</p>
          <br>
          <!-- <img src="{% static 'img/about.jpg' %}" alt=""> -->
          <p>Painkey is a Django project that I decided to work on while staying at home and searching for a job. Due to the pandemic, job searching was difficult for people like me who graduated from colleges before it happened. In order to keep myself busy and hopefully pick up a few new skills, I started to read through Django documents and online tutorials.</p>
          <p>I really like to work with Python, since it is easy to read and understand. After a quick refresh on Python syntax, I started this Django project. Django gives me a brand new way of thinking on planning and designing the structure of a web application. As I was working on this project, new ideas kept popping up in my mind and I will continuously work on Painkey to make it more presentable.</p>
          <br>
          <p class="lead">What Happens Next?</p>
          <p>There are still flaws in this web application, on both front end and back end. I will take my time to fix them and hopefully refactor and organize its file system to make it easier for me to add more features in the future. Below are some of the ones already on my mind:</p>
          <li>Comment section below each miniature </li>
          <li>Like counter for each miniature page</li>
          <li>To-do list for both this website and the miniatures I own but haven't painted</li>
          <br>
          <hr>
          <br>
          <h2>About Me</h2>
          <p>Hi, this is Wen. Throughout two years of intense study in BCIT, I built web applications with various frameworks for PC and mobile. </p>
          <p>KickStart was a major project was built for the BCIT Student Association. It was designed to showcase all events on campus and manage student reservations while maintaing an attendance point system for prizes. The project was developed with NodeJS, Express and MySQL. </p>
          <p>CIT-STG was a cross-platform mobile application that connects sports clubs and athletes. Club Managers and atheletes can view each other's profiles depending on their identities and like or dislike by swiping right and left. Parties are matched when they like each other. The front end was created using React Native and the back end was created using Express and MySQL deployed on AWS EC2 service. </p>
          <p><strong>If you are interested in my background and would like to know more about my previous projects, feel free to reach out to me via <a href = "mailto: 835033838wen@gmail.com" style="background-color: white; color: #2b6cd4;">email</a>.</strong></p>
        </div>


    <div class="col-md-4">
      
        {% for author in authors %}
        {% if author.name == 'Xuan Wen' %}
            <!-- <img class="card-img-top" src="assets/img/realtors/kyle.jpg" alt="Seller of the month"> -->
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special Thanks to</h5>
                <h6 class="text-secondary">Amber Sun</h6>
                <p class="card-text">This project would have taken much more time wthout your love and support along the way.❤️ </p>
                <hr>
                <h6 class="text-secondary">Brad Traversy</h6>
                <p class="card-text">and his Udemy course. Some layout and styling in this web application was borrowed and modified from his bootstrap files in that course.
                </p>
                <hr>
                <h6 class="text-secondary">Dennis Ivy</h6>
                <p class="card-text">and his Django Crash Course tutorials on YouTube.</p>
                <hr>
                <h6 class="text-secondary">Dylan Shi</h6>
                <p class="card-text">for your proof-reading and all of your feedback on this website.</p>
                <hr>
                <h6 class="text-secondary">Lei Zhu</h6>
                <p class="card-text">and your ideas with an online portfolio.  </p>
            </div>
        {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">Interested? </h2>
    <h4>Take a look at the miniatures that I painted.</h4>
    <br>
    <a href="{% url 'listings' %}" class="btn btn-secondary text-white btn-lg">View My Works</a>
  </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Our Team</h2>
      <div class="row text-center">
        {% if authors %}
          {% for author in authors %}
            <div class="col-md-4">
              <img src="{{author.photo.url}}" alt="" class="rounded-circle mb-3">
              <h4>{{author.name}}</h4>
              <p class="text-success">
                <i class="fas fa-award text-success mb-3"></i> Author</p>
              <hr>
              <p>
                <i class="fas fa-phone"></i> {{author.phone}}</p>
              <p>
                <i class="fas fa-envelope-open"></i> {{author.email}}</p>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">No Authors Saved</div>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}