{% extends 'base.html' %}
{% block title %} | Home {% endblock %}

{% block content %}
  <!-- Showcase -->
  <section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Have I Painted What You Like?
          </h1>
          <p class="lead">Search to see if I have painted something you would like to see. If not, stay tuned. Becauce I have a pile of boxes I haven't opened yet.</p>
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword (Primaris, Chaos, etc)">
                </div>

                <!-- <div class="col-md-4 mb-3">
                  <label class="sr-only">City</label>
                  <input type="text" name="city" class="form-control" placeholder="City">
                </div> -->

                <div class="col-md-6 mb-3">
                  <label class="sr-only">Author</label>
                  <select name="author" class="form-control">
                    <option selected="true" disabled="disabled">Author</option>
                    {% for key, item in author_choice.items %}
                      <option value = "{{key}}">{{item}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Price</label>
                  <select name="price" class="form-control">
                    <option selected="true" disabled="disabled">Max Price</option>
                    {% for key, item in price_choice.items %}
                      <option value = "{{key}}">${{item}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <select name="days" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Max Number of Days</option>
                    {% for key, item in duration_choice.items %}
                      <option value = "{{key}}">{{item}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include 'partials/_alerts.html' %}

  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3" style="color: #10284e ">My Latest Work</h3>
      <br/>
      <div class="row">
        {% if listings %}
        {% for listing in listings %}
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              <img class="card-img-top" src="{{listing.photo_main.url}}" alt="">
              <!-- <div class="card-img-overlay">
                <h2>
                  <span class="badge badge-secondary text-white">$490,000</span>
                </h2>
              </div> -->
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-primary">{{listing.title}}</h4>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    Time Spent: {{listing.duration}} days</div>
                  <div class="col-6">
                    Initial Price: ${{listing.initial_price}}</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    Height: {{listing.height}}cm</div>
                  <div class="col-6">
                    Width: {{listing.width}}cm</div>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-user"></i> {{listing.author}}</div>
                </div>
                <div class="row text-secondary pb-2">
                  <div class="col-12">
                    <i class="fas fa-clock"></i> {{listing.complete_date | timesince}} ago</div>
                </div>
                <hr>
                <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">More Info</a>
              </div>
            </div>
          </div>
        {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Listings Available</p>
          </div>
        {% endif %}
        

      </div>
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-paw fa-4x mr-4"></i>
          <hr>
          <h3>Life with a Puppy</h3>
          <p>As a new member in the house, Smokey has given me a lot of love and emotional support since the beginning of 2020. I can not imagine life during lockdown if Smokey was not here. As everything gets better, it's going to be a happy journey ahead of us.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-code fa-4x mr-4"></i>
          <hr>
          <h3>A Web Dev</h3>
          <p>After learning a number of different web dev frameworks during my 2 years at BCIT, and having more free time during quarantine, I decided to further develop my skills while also displaying some of my hobbies and achievements. This is why this website was born - perfectly combining knowledge with interest.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-paint-brush fa-4x mr-4"></i>
          <hr>
          <h3>A New Painter</h3>
          <p>I never thought I can be artistic someday. But this channel 达奇上校 on YouTube took me into the world of Warhammer, which reminded me that I too assembled some skeleton warriors twenty years ago. Maybe it is not a bad idea to get back to what I was enthusiastic about.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}